
@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title.</h1>


<p>EGYPTAIR is an Airline Reservation System designed for users to book their flights when they register
   their account. 
  .</p>
<img src="Images/images.jpg" height="168" width=" 200">


 
